flask==1.1.1
twilio==6.35.5
spotipy==2.9.0
sanic==23.3.0
firebase-admin==6.1.0
google-cloud-tasks==1.5.0
google-cloud-core==2.3.2
google-cloud-firestore==2.11.1
googleapis-common-protos==1.59.0
mutagen==1.45.1
phonenumbers==8.12.1
aiohttp==3.8.4
grpcio
